<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Houses</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/houses/new">Create a new House</a>
					</li>
				</ul>
			</nav>
		</header>
    <main>
    	<h2>List of Houses</h2>
    	<ul>
    		<% for(var i = 0; i < houses.length; i++){ %>
    			<li>
    				<a href="/houses/<%=houses[i]._id%>"><%=houses[i].title%></a>
    			</li>
    		<% } %>
    	</ul>
    </main>
	</body>
</html>
