<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create an House</h1>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/houses">Houses Index</a></li>
      </ul>
    </nav>
    <main>
      <form action="/houses" method="post">
        <input type="text" name="title" /><br/>
        <textarea name="owner"></textarea><br/>
        <input type="submit" value="Publish House"/>
      </form>
    </main>
  </body>
</html>
