<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Create Form</title>
  </head>
  <body>
    <h1>Form used to create</h1>
    <form action="/products" method="POST">
      Name: <input type="text" name="name"/><br/>
      Price: <input type="text" name="price"/><br/>
      img: <input type="text" name="img" /><br/>
      <input type="submit" value="Add Product to hair">
    </form>
  </body>
</html>
