<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Fruits show page</h1>
    The <%=fruit.name; %> is $<%=fruit.color; %>.
    <img src="<%=products.img%>" alt="">
    <nav>
        <a href="/products">Back to Fruits Index</a>
    </nav>
  </body>
</html>
