<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/users">All Users</a></li>
      </ul>
    </nav>
    <main>
      <h1>Add your info here</h1>
      <form class="" action="/users" method="POST">
        Name: <input type="text" name="username"/><br/>
        Password: <input type="text" name="password"/><br/>
        <input type="submit" value="Create Account">
      </form>
    </main>

  </body>
</html>
