<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=game.name;%></h1>
    The <%=game.name;%> is  <%=game.system;%>
    <br/>
    <% if(game.ownIt === true ){ %>
      You own this game
    <% } else { %>
      You do not own this game
    <% } %>
    <br/>
    <a href="/games">Back to main page</a>
  </body>
</html>
