<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome Home!</h1>
    <nav>
      <ul>
        <li><a href="/House">Houses</a></li>
        <li><a href="/Rooms">Rooms</a></li>
      </ul>
    </nav>
  </body>
</html>
