<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FEE FI Photo</title>
  </head>
  <body>
    <h1>Photo time</h1>
    <a href="/users">Go to the user page</a>
    <br/>
    <a href="/photos">Go to the photo index</a>
  </body>
</html>
