<!DOCTYPE html>
<html ng-app="MyApp">
   <head>
      <meta charset="utf-8">
      <title></title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="app.js" type="text/javascript"></script>
   </head>
   <body ng-controller="SongController as shuffle">
      <ul>
         <li ng-repeat="song in shuffle.songs track by $index">
            <h2 ng-click="shuffle.hideSong($index)">{{song.title}}</h2>
            <p ng-hide="song.hidden">{{song.author}}</p>
            <p ng-hide="song.hidden">{{song.year}}</p>
            <!-- <p>{{song.lyrics}}</p> -->
               <p ng-hide="song.hidden" ng-repeat="lyric in song.lyrics">{{lyric}}</p>
         </li>
      </ul>
      <form ng-submit="shuffle.handleSubmit()">
         Song Title: <input ng-model="shuffle.titleVar"><br>
         Author: <input ng-model="shuffle.authorVar"><br>
         Year: <input ng-model="shuffle.yearVar">
         lyrics: <input ng-model="shuffle.lyricsVar">
         <input type="submit" value="Submit the Form">
      </form>
   </body>
</html>
