<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is the individual page</h1>
    <%=game.name; %>
    <br/>
    <%=game.system;%>
    <br/>
    <a href="/games">home</a>
  </body>
</html>
