nav{
  display: flex;
  justify-content: flex-start;

}
#nav-logo{
  width(20%);
}
nav{
  display: inline;
  float: left;
  width:25%;
}
body{
  /*display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-sh*/
}

section img{
width: 22%;

}
